// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:#f9f9f9;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: hsl(120, 34%, 74%);
    border-radius: 14px;
    border: 3px solid #f9f9f9;
  }
