// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  secondary: (
    100: hsl(170, 100%, 31%),
    200: hsl(170, 64%, 48%),
    300: hsl(170, 53%, 49%),
    400: hsl(170, 79%, 69%),
    500: hsl(170, 100%, 79%),
  ),
  primary: (
    100: hsl(143, 81%, 68%),
    200: hsl(143, 80%, 63%),
    300: hsl(143, 72%, 57%),
    400: hsl(143, 75%, 47%),
    500: hsl(143, 90%, 30%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
