---
import AboutPage from '../components/vue/About.vue'
import About_ from '../components/About.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'

const title = 'About'
---

<DefaultLayout title={title}>
  <section class="mt-36 mb-36">
    <AboutPage client:only />
    <About_ />
  </section>
</DefaultLayout>

