---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import SideBar from '../components/vue/AsideNav.vue'
import Projects from '../components/Projects.astro'
import About from '../components/About.astro'
import TechStacks from '../components/TechStacks.astro'
import Contact from '../components/Contact.astro'
---

<DefaultLayout title="Portfolio">
  <section id="hero">
    <Hero />
  </section>
  <SideBar client:load slot="aside" />
  <section id="about">
    <About />
  </section>
  <section id="projects" class="mt-[10rem] md:mt-0">
    <Projects />
  </section>
  <section id="techstacks" class="mt-[20rem]">
    <TechStacks />
  </section>
  <section id="contact-us" class="mt-[5rem] mb-[5rem]">
    <Contact />
  </section>
</DefaultLayout>
