---
import SectionHeader from './compose/SectionHeader.astro'
---

<div class="container h-[100vh] flex flex-col items-center justify-center">
  <SectionHeader>About</SectionHeader>
  <div class="mx-auto my-10 h-80 max-w-[20rem] md:max-w-2xl">
    <div class="flex flex-col items-center justify-center md:flex-row gap-6">
      <div class="w-full text-center text-4xl md:text-6xl font-bold md:text-right" data-aos="fade-up" data-aos-delay="300">
        <span>Hey, I'm <span class="text-gradient">Sidna Zen</span>, nice to meet you!</span>
      </div>
      <div class="w-full text-center text-base md:text-left" data-aos="fade-up" data-aos-delay="400">
        Thank you so much for taking the time to visit my blog! Your presence means the world to me. I truly appreciate
        your interest in my content and the support you've shown. It is because of readers like you that I am able to
        share my thoughts, ideas, and experiences. 
        <br>
        Little things about me: I'm a Web Developer based on Jakarta, Indonesia. It's my 4th year as a Web Developer.
        I’m a dedicated developer with expertise in Javascript, Vue, Nuxt, Nest, Angular and more.  bring creativity
        and technical skill to every project, ensuring a seamless and engaging user experience.
      </div>
    </div>
  </div>
</div>

<script>

</script>
