---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p class="text-center text-sm md:text-base text-gray-500">
        &copy; {currentYear}. Made with ❤️ by <a href="https://github.com/SidnaZayn">Sidna M. Zen</a>. <br />
        <span class="text-xs md:text-sm text-gray-400">
          Starter theme by <a href="https://github.com/markteekman">Mark Teekman</a>.
        </span>
      </p>
    </div>
  </section>
</footer>
