---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'

---

<header class="fixed w-100 inset-x-0 top-0 z-50 bg-white/50 dark:bg-[#161618]/50 backdrop-blur-sm">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <!-- <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li> -->
    <li class="menu-item">
      <a href="/project/">Project</a>
    </li>
    <li class="menu-item">
      <a href="/about/">About</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
