---
const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<section class="hero">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-0 lg:gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot>
            <p class="mb-3">Code Junkies</p><span class="text-gradient" id="sub_hero"></span>
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row"></div>
      </div>
      <img class="block w-80 h-80 md:w-full md:h-full" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  import Typed from "typed.js";

  const arr = ['Developer', 'Web', 'Art']
  new Typed('#sub_hero', {
    strings: arr,
    loop:true,
    typeSpeed:100,
    backSpeed:75
  })
  // let changingText = document.getElementById('sub_hero')
  // let countWord = 0
  // setInterval(() => {
  //   if (changingText !== null) {
  //     changingText.innerText = arr[countWord]
  //   }
  //   countWord = (countWord + 1) % arr.length
  // }, 1000)
</script>
