---
import { getCollection } from 'astro:content'
import SectionHeader from './compose/SectionHeader.astro'
import Feature from './Feature.astro'
const posts = (await getCollection('projects')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
const postsLen = posts.length
---

<div class="container">
  <SectionHeader>Projects</SectionHeader>
  <ul class="my-3 ml-1 grid grid-cols-1 gap-4 xl:grid-cols-3" id="projects">
    {
      posts.map((post,i) => (
        <li class="mx-auto" data-aos="fade-up" data-aos-delay={i * 100}>
          <Feature title={post.data.title} href={'/project/' + post.slug} src={post.data.heroImage}>
            {post.data.description}
          </Feature>
        </li>
      ))
    }
  </ul>
</div>
