---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import NewBlogForm from "../../components/vue/NewBlogForm.vue";
---

<DefaultLayout title="Create Blog">
  <section class="my-12">
    <div class="space-content container">
      <h1>Create Blog</h1>
      <p class="text-2xl">
        An example of a blog with dynamic content fetched from <a href="https://jsonplaceholder.typicode.com/posts"
          >JSONPlaceholder</a
        > using the title, body and userId. The Accessible Astro Card Component is used here to display al the posts.
      </p>
    </div>
    <NewBlogForm />
  </section>
</DefaultLayout>
