---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import NewBlogForm from "../../components/vue/NewBlogForm.vue";
---

<DefaultLayout title="Create Blog">
  <section class="my-12">
    <div class="space-content container">
      <h1>Create Blog</h1>
    </div>
    <NewBlogForm client:load/>
  </section>
</DefaultLayout>
